<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container center-align" style="margin-top: 100px;">
        <i class="material-icons" style="font-size: 100px; color: #2196f3;">error_outline</i>
        <h1>404</h1>
        <h4>Page Not Found</h4>
        <p>The page you're looking for doesn't exist.</p>
        <a href="/" class="btn blue waves-effect waves-light">Go Home</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

